firmware filter=lfs diff=lfs merge=lfs -text
host filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
msc filter=lfs diff=lfs merge=lfs -text
scripts filter=lfs diff=lfs merge=lfs -text
utility filter=lfs diff=lfs merge=lfs -text
cgpt filter=lfs diff=lfs merge=lfs -text
vboot_host.pc.in filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
Makefile filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_BSD filter=lfs diff=lfs merge=lfs -text
PRESUBMIT.cfg filter=lfs diff=lfs merge=lfs -text
WATCHLISTS filter=lfs diff=lfs merge=lfs -text
inherit-review-settings-ok filter=lfs diff=lfs merge=lfs -text
emerge_test.sh filter=lfs diff=lfs merge=lfs -text
futility filter=lfs diff=lfs merge=lfs -text
README filter=lfs diff=lfs merge=lfs -text
tests filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
